extends ../layout

block content
	include ../partials/_header

	section#page-accountsoverview
		.container
			h1 Drivers
			ol.breadcrumb
				li.breadcrumb-item
					a(href="/drivers/overview") Drivers Overview
				li.breadcrumb-item.active Create Driver

			.row
				.col-sm-4
					h3 Driver Details
					ul.list.form
						li
							label First Name
							input(type="text")#q_first_name
						li
							label Last Name
							input(type="text")#q_last_name
						li
							label.break DOB
							input(type="text", data-provide="datepicker").datepicker#q_dob
						li
							label Address Line 1
							input(type="text")#q_address_line1
						li
							label Address Line 2
							input(type="text")#q_address_line2
						li
							label Suburb
							input(type="text")#q_suburb
						li
							label City
							input(type="text")#q_city
						li
							label Postcode
							input(type="text")#q_postcode
						li
							label State
							input(type="text")#q_state
						li
							label Email
							input(type="email")#q_email
						li
							label Phone
							input(type="phone")#q_phone
						li
							label Driver Code
							input(type="text")#q_driver_code
						li
							label Password
							input(type="text")#q_password
						li
							label Confirm Password
							input(type="text")#q_passwordconfirm
						
				.col-sm-4
					h3 Driver Authorisation
					ul.list.form
						li
							label Number
							input(type="text")#q_da_number
						li
							label.break Expiry
							input(type="text", data-provide="datepicker").datepicker#q_da_expiry
						li
							label Scan
							//- input(type="text")#q_da_scan
							.scan#da_scan
								img(src="/img/license.png")#q_da_scan
								.uploadBtn Upload Scan
					h3 Driver Licence
					ul.list.form
						li
							label Number
							input(type="text")#q_dl_number
						li
							label.break Expiry
							input(type="text", data-provide="datepicker").datepicker#q_dl_expiry
						li
							label Scan
							//- input(type="text")#q_dl_scan
							.scan#dl_scan
								img(src="/img/license.png")#q_dl_scan
								.uploadBtn Upload Scan
				.col-sm-4
					h3 Payment Details
					ul.list.form
						li
							label ABN
							input(type="text")#q_abn
						li
							label Account
							input(type="text")#q_account
						li
							label BSB
							input(type="text")#q_bsb
					h3 Other Details
					ul.list.form
						li
							label Driver Type
							select#q_drivertype
								option(value="") - select -
								option(value="Wages") Wages
								option(value="RCTI") RCTI
								option(value="Offload") Offload 
						li.color_select
							label.break Color
							input(type="text")#q_color
							.colorExample
							//- ul.list
							//- 	li(data-color="#012345", style="background: #012345;")
							//- 	li(data-color="#456456", style="background: #456456;")
							//- 	li(data-color="#f4f5f6", style="background: #f4f5f6;")
							//- 	li(data-color="#f55f66", style="background: #f55f66;")
							//- 	li(data-color="#234333", style="background: #234333;")
							//- 	li(data-color="#ab5fff", style="background: #ab5fff;")
						li
							label.switch
								input(type="checkbox")#q_status
								.slider
							label.switch_label Driver Active
						li
							.btn.btn-default#save-btn Submit

	#image_library_modal
		#image_library
			.header
				h1 Image Library
				label(for="uploadImgBtn").uploadBtn Upload Image
				input(type="file", name="imglib_image").btn.nobg#uploadImgBtn 
			.prog_wrap
				.progress-bar
			.imgWindow
				ul.images
				.message Select Image

	script(src="/lib/image_library/image_library.js")
	script(src="/lib/autocomplete/autocomplete.min.js")
	script(src="/js/bootstrap-datepicker.min.js")
	script(src="/js/functions.js")
	script(src="/js/form.js")
	script(src="/js/drivers/create_driver.js")