doctype html
html(lang="en")
	head
		title #{title}
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', type='text/css')
		link(rel='stylesheet', href="", integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin="anonymous")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", type="text/css")
		link(rel='stylesheet', href='/css/bootstrap-calandar.css', type='text/css')
		link(rel='stylesheet', href='/css/datepicker.css', type='text/css')
		link(rel='stylesheet', href='/lib/autocomplete/autocomplete.min.css', type='text/css')
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(rel="shortcut icon", type="image/png" href="/static/img/favicon.png")
		script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
		script(src='http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
		//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content='')