/*

	#4F6D7A
	PAYNE'S GREY

	#C0D6DF
	COLUMBIA BLUE

	#DBE9EE
	AZUREISH WHITE

	#4A6FA5
	BLUE YONDER

	#166088
	BLUE SAPPHIRE

	#32A287
	JUNGLE GREEN

*/

.white-bg {
	background: #DBE9EE;
}
.white-txt {
	color: #DBE9EE;
}

.grey-bg {
	background: #4F6D7A;
}
.grey-txt {
	color: #4F6D7A;
}

.color-1-bg {
	background: #4A6FA5;
}
.color-1-txt {
	color: #4A6FA5;
}

.color-2-bg {
	color: #1d4456;
}
.color-2-txt {
	color: #166088;
}

.color-3-bg {
	background: #32A287;
}
.color-3-txt {
	color: #32A287;
}



* {
	box-sizing: border-box;
}

body {
	/*background: #DBE9EE;*/
	background: #fff;
}

h1, h2, h3, h4 {
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
}

p, a, span, div, input, textarea {
	font-family: 'Source Sans Pro', sans-serif;
}

p {

}

a {

}

a:hover {

}

ul {
	list-style: none;
	padding: 0px;
}

/* DRY */

.break {
    display: block;
}

.switch_label {
    margin-left: 10px;
    font-weight: bold;
}

.btn {
	cursor: pointer;
    padding: 5px 10px;
    border: none;
}

.btn-default {
    background: linear-gradient(#0A8874, #0ea78f);
    border-bottom: solid 2px #0e6557;
    color: #fff;
}

.btn-default:hover {
    background: linear-gradient(#0A8874, #20d8bb);
}

.btn-update {
    background: linear-gradient(#fb9300, #fdc372);
    border-bottom: solid 2px #d08e32;
    color: #fff;
}

.btn-update:hover {
    background: linear-gradient(#fb9300, #ffe3bc);
}

.btn-search {
    background: linear-gradient(#0A8874, #0ea78f);
    border-bottom: solid 2px #0e6557;
   /* background: #166088 url('../img/search.png') no-repeat 50%;
    background-size: contain;*/
    color: #fff;
}

.btn-search:hover {

}

.btn-blue {
    background: linear-gradient(#2e5cb8, #7b94c7);
    color: #fff;
    border-bottom: solid 2px #233a69;
}

.btn-blue:hover {

}

.btn_row {
    margin-top: 20px;
}

.btn_row .btn {
    margin-left: 10px;
}

.btn-nolist {
    float: right;
    margin: 10px 0px;
}

.small-edit {
    background: url(/img/edit-dark.png) no-repeat 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: 14px;
}

.box {
	border-radius: 3px;
	background: #DBE9EE;
}

.spin {
    width: 20px;
    height: 20px;
    background: url(../img/spin.gif) no-repeat 50%;
    display: inline-block;
    background-size: 100%;
    display: none;
}

.overlay_spin {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.79) url(../img/spin.gif) no-repeat 50%;
    top: 0px;
    display: none;
}

.xSpin {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.79) url(../img/spin.gif) no-repeat 50% !important;
    background-size: 100% !important;
    color: transparent !important;
}

.overlay {
    background: rgba(0,0,0,0.7);
    transition: 0.3s;
    position: absolute;
    text-align: center;
    display: none;
}

.formList li {
	margin-bottom: 10px;
}

a:hover,
a:active,
a:visited {
	opacity: 0.5;
	text-decoration: none;
}

section {
	padding-bottom: 80px;
}

.x {
	display: inline-block;
	width: 28px;
	height: 28px;
	text-align: center;
	cursor: pointer;
	border-radius: 100%;
}

.x:hover {
	background: #fff;
}

table {
	margin-top: 20px;
}

.table th,
.table td {
    padding: 5px 15px;
}

.right {
    float: right;
}

/* actions bar */

.actions_bar {
    overflow: auto;
}

.actions_bar li {
    display: inline-block;
    margin-right: 15px;
    vertical-align: bottom;
}

.search_group input {
    width: auto;
    vertical-align: bottom;
    margin-right: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0px;
    vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(#0a7b69, #0ea68f);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

textarea {
  width: 100%;
}

input[type="number"] {
    width: 80px;
}

input[data-provide="datepicker"] {
    width: 110px;
    text-align: center;
}

/* Form Stuff */

.form li {
	margin-bottom: 10px;
}

.horizontal_form li {
    display: inline-block;
    margin-right: 15px;
}

.checkbox_list li {
	margin-bottom: 0px;
}

.checkbox_list li input {
	margin-right: 10px;
}

input, textarea {
	width: 100%;
    padding: 3px 5px;
    border: solid 1px #dedede;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.17);
    background: #fdfdfd;
}

input:focus, textarea:focus, select:focus {
    outline: solid 2px #0ea38c;
}

input[type="checkbox"] {
	width: auto;
}

input[type="checkbox"]:focus {
    outline: auto;
}

input.invalid {
	background: #fff4f4;
    border: solid 1px #da1a1a;
}

label {
    color: #505050;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 5px;
    border: solid 1px #dedede;
    box-shadow: 2px 2px 3px rgba(191, 191, 191, 0.27);
}

.color_select input {
    width: 100px;
    display: inline-block;
}

.color_select div {
    display: inline-block;
    width: 49px;
    height: 32px;
    background: linear-gradient(#ccc, #eee);
    vertical-align: bottom;
}

.color_select ul {
    margin-top: 10px;
}

.color_select ul li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.half_width {
    overflow: hidden;
}

.half_width li {
    width: 46%;
    margin-right: 2%;
    float: left;
}

/* Panel */

.panel {
    background: #fbfbfb;
    border-radius: 0px;
    border: solid 1px #e2e2e2;
    box-shadow: 0px 2px 2px rgba(10, 7, 7, 0.07);
    margin-bottom: 25px;
}

.panel-heading {
    padding: 10px 15px;
    background: #eaeaea;
}

.panel-heading h3 {
    font-size: 20px;
    color: #166088;
    margin: 0px;
}

.panel-body {
    padding: 10px 15px;
}

.panel table {
    margin: 0px;
    width: 100%;
}

.panel table th {
    cursor: pointer;
    padding: 5px 10px 5px 0px;
}

.warning_panel {
    border: solid 1px #f9e6e6;
    background: #fff;
}

.warning_panel .panel-heading {
    background: #faf3f3;
}

.warning_panel h3 {
    color: #820000;
}

.input-group label {
    margin-right: 10px;
}

/* filters */

/*.filters .input_group {
    width: 200px;
    background: antiquewhite;
    display: inline-block;
}   */ 

/* General Form Elements */

.input-group {

}

.tbl_list input[type="number"] {
  width: 80px;
  text-align: center;
}

/* Message Box */

#message_box {
    position: fixed;
    bottom: -60px;
    background: #efefef;
    width: 100%;
    padding-top: 15px;
    font-weight: bold;
    border-top: solid 3px #19c320;
    color: #227128;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -webkit-transition: bottom 0.5s ease-in-out;
    -moz-transition: bottom 0.5s ease-in-out;
    -o-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
    z-index: 9999;
}

#message_box.error_msg {
    border-top: solid 3px #c31919;
    color: #712222;
}

#message_box p {
	float: left;
}

#message_box .x {
	float: right;
}

#message_box.slideup {
 	bottom: 0px;
}

/* Home Login */

.home_login_box {
    /*width: 600px;*/
    padding: 20px 60px;
    margin: 40px auto;
    /*text-align: center;*/
}

/* Header */

header {
    padding: 10px 0px;
    margin-bottom: 40px;
    background: #f7f7f7;
    border-bottom: solid 2px #dedede;
}

header a:hover,
header a:active,
header a:visited {
	color: #124658;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:visited {
	color: #000;
}

.brand {
	float: left;
}

header .nav {
	float: right;
	margin-bottom: 0px;
}

header .nav li {
	margin-left: 10px;
}

/* Create User */

#page-createuser #add-btn {
	float: right;
}

/* Edit User */

.change_pw_li {
	display: none;
}

/* footer */

footer {
	margin-top: 40px;
}

/* Icon Buttons */

.edit {
    display: inline-block;
    background: url(/img/edit.png) no-repeat 50%, linear-gradient(#fb9300, #fdc372);
    border-bottom: solid 2px #d08e32;
    width: 50px;
    height: 35px;
}

.edit:hover {
    background: url(/img/edit.png) no-repeat 50%, linear-gradient(#fb9300, #ffe3bc);
}

.actions .edit {
	margin-right: 20px;
}

.add {
 	display: inline-block;
    background: url(../img/plus.png) no-repeat 10px 50%, linear-gradient(#2958b7, #93a8d2);
    padding-left: 35px;
    text-align: right;
    color: #fff;
    position: relative;
    border-bottom: solid 2px #233a69;
}

.add:hover {
    background: url(../img/plus.png) no-repeat 10px 50%, linear-gradient(#2958b7, #bfd4ff);
}

/*.add:before {
    content: '+';
    font-size: 28px;
    position: absolute;
    top: 0px;
    font-weight: bold;
    left: 15px;
}*/

.add-w-text {

}

.delete {
	display: inline-block;
    background: #4F6D7A;
    text-align: right;
    color: #fff;
    position: relative;	
}

.delete:before {
	content: 'x';
}

/* Table */

.table th {
    text-align: left;
    background: beige;
    border-bottom: solid 1px #989898;
    border-top: none !important;
    padding: 10px 15px !important;
}

.table th,
.table td {
    border-top: 1px solid #d6d6d6;
    vertical-align: middle;
}

/* Ratesheets */

#new_rate_sheet {
    display: inline-block;
    width: auto;
    background: none;
    box-shadow: none;
    border: none;
    width: 205px;
    margin: 0px 10px;
}

.ratesheet {
    background: #fbfbfb;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
    border: solid 1px #eaeaea;
}

/* Drivers */

#driver-calandar-cont {
    position: relative;
}

#driver-calandar-cont .overlay_spin {
    display: block;
    background: rgba(255, 255, 255, 0.79) url(../img/spin.gif) no-repeat 50% 30px;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.calendar .month-container {
    height: auto;
    float: left;
}

.calendar .month-container:nth-child(3n+4) {
    clear: both;
}

.modal-body .spin {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

#select_driver {
    width: 50%;
    margin-top: 20px;
}

.current_absences_box {
    /*display: none;*/
}

.absences_today li {
    display: inline-block;
    margin-right: 10px;
    /*font-weight: bold;*/    
    font-size: 15px;
    cursor: pointer;
}

.absences_today li:hover > span,
.active_absence {
    border-bottom: solid 2px;
    font-weight: bold;
}

.absences_today li .x {
    background: #2f5092;
    color: #fff;
    font-weight: bold;
    vertical-align: text-top;
    font-size: 17px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    line-height: 1em;
}

.scan {
    position: relative;
}

.scan img {
    width: 220px;
}

.scan .uploadBtn {
    width: 110px;
    display: inline-block;
    background: url(../img/upload.png) no-repeat 50% 0%;
    background-size: 45px;
    margin-left: 20px;
    text-align: center;
    padding: 45px 0px 0px 0px;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
}

.scan .uploadBtn:hover {
    text-decoration: underline;
}

.overlay.upload_img {
    display: inline-block;
    width: 220px;
    height: 100%;
}

/* Image Uploader */

#image_library {
    width: 90%;
    margin: 40px auto;
    max-width: 920px;
    background: #fff;
    height: 500px;
    /* max-height: 18%; */
    transition: 0.3s;
    border-radius: 3px;
    padding: 15px;
    position: relative;
}

#image_library .imgWindow {
    max-height: 346px;
}

/* Vehicles */
